body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .category-banner-container {
    position: relative;
    width: 100%;
    max-height: 550px;
    overflow: hidden;
    
  }
  
  .category-banner {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
  
  .category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .category-title {
    color: white;
    font-size: 64px;
    text-align: center;
    font-family: 'Kaisei Decol';
    font-weight: 500;
    margin-top: 100px;
  }
  
  .category-description {
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: 'Kaisei Decol';
    margin-top: 20px;
    width: 80%;
  }
  
  .product-container {
    width: 100%;
   
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .product-item {
    flex: 0 0 calc(25% - 20px);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 270px;
  }
  
  .product-item img {
    width: 105%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .product-item .description {
    font-size: 16px;
    color: black;
    text-align: center;
    margin-top: 4px;
  }
  
  .product-item .price {
    font-size: 14px;
    color: #333;
    text-align: center;
  }
  
  .product-item .line {
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 10px 0;
  }
  
  .product-item .buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .product-item button.quick-view,
  .product-item button.wishlist {
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
  }
  
  .product-item button.quick-view {
    background-color: #97c992;
  }
  
  .product-item button.wishlist {
    background-color: #333;
  }
  
  .product-item button.quick-view:hover,
  .product-item button.wishlist:hover {
    opacity: 0.9;
  }
  
  .filter-container {
    margin-top: 20px;
    text-align: left;
    position: relative;
  }
  
  .price-filter {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .selected-filter-container {
    position: absolute;
    right: 90px; 
    top: 0;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
  }
  
  .price-options {
    display: inline-block;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
  }
  
  .price-options label {
    display: block;
    margin: 5px 0;
    padding: 8px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .price-options input {
    margin-right: 5px;
  }
  
  .remove-filter {
    cursor: pointer;
    margin-left: 5px;
    font-weight: bold;
  }
  
  .popup {
    position: fixed;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    max-width: 800px; 
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
   
  }
  
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%; 
    max-width: 800px;
    text-align: left; 
  }
  
  .popup-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .popup-image-container {
    flex: 0 0 40%;
  }
  
  .popup-title {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    right: 40px; 
  }
  
  .popup-image {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .popup-description-and-price {
    flex: 0 0 55%;
    text-align: left;
    margin-left: 20px; 
  }
  
  .popup-description {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
  }
  
  .popup-price {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .quantity-control {
    margin-top: 10px;
  }
  
  .quantity-control label {
    font-size: 14px;
    margin-right: 5px;
  }
  
  .quantity-control input {
    width: 50px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; 
  }
  
  .add-to-wishlist,
  .add-to-cart {
    background-color: #97c992;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px; 
  }
  
  .add-to-wishlist:hover,
  .add-to-cart:hover {
    opacity: 0.9;
  }
  
  .close-popup {
    position: absolute;
    top: 20px;
    right: 10px; 
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .global-wishlist-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%;
    max-width: 400px;
    background-color:#97c992;
    color: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 9999;
  }
  
  
  .global-wishlist-message {
    font-size: 16px;
    font-family: 'Kaisei Decol', sans-serif;
  }

 